@tailwind base;
@tailwind components;
@tailwind utilities;


/*LOAN CALULATOR*/  
.range{
  -webkit-appearance: none;
  background-color: #123757;
  height: 10px;
  width: 100%;

}
.range:focus{
  outline:none;
}
.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.paymentSchedule li button {
  @apply uppercase font-acumin text-smallTitle leading-squat font-semibold tracking-widestBtn;
}